<footer class="footer_blognum">
	<a class="subscribe_blognum btn" target="_blank" href="{{@blog.url}}/rss/">
		<i class="fa fa-rss"></i>
	</a>
	<a class="subscribe_blognum btn" target="_blank" href="https://github.com/sattellite">
		<i class="fa fa-github"></i>
	</a>
	<a class="subscribe_blognum btn" target="_blank" href="https://twitter.com/_sattellite">
		<i class="fa fa-twitter"></i>
	</a>
	<div class="footertext_blognum">
		All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013-{{date format='YYYY'}} &bull; All rights reserved.
	</div>
	<div class="footertext_blognum">
		Powered by <a href="http://tryghost.org" target="_blank">Ghost</a>
	</div>
</footer>
